body{margin:"0";
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .card1{
           text-align: center;
           border: 1px solid lightgray;
           width: 300px;
           padding: 10px;
           margin: 15px auto;
           border-radius: 15px;
          } 
    .img1{
          width: 50%;
          border-radius: 15px;

          } 
    .btn1{
           border: 1px solid blue;
           width: 80%;
           padding: 3px;
           margin: 10px 10px;
           border-radius: 7px;
           
         }
    .btn2{
           width: 80%;
           padding: 5px;
           margin: 10px 10px;
           border-radius: 7px;
           border: none;
           background-color: blue;
           color: white;
         }

    .card2{
            border: 1px solid lightgray;
            text-align: center;
            width: 300px;
            padding: 30px 20px;
            margin: 30px auto;
            border-radius: 15px;
         }

    .img2{
            width: 60px;
         }

    .btn3{
            border: none;
             width: 80%;
             border-radius:7px;
             padding: 5px;
             margin: 10px;   
         }


    .card3{
            width: 400px;
            text-align: center;
            border: 1px solid lightgray;
            border-radius: 15px;
            margin: 30px auto;
    }
    .img3{
           width: 60px;
           border-radius: 10px;
    }
    .cd{
        width: 80%;
        padding: 10px 10px;
        margin: 10px;
        border: 1px solid blue;
        border-radius: 10px;
    }
    .btn4{
           width: 80%;
           padding: 10px 10px;
           margin: 10px;
           background-color: blue;
           border: none;
           border-radius: 10px;
           color: white;
    }


    
    